module powerbi.visuals.plugins {
    export var <%= pluginName %> = {
        name: '<%= pluginName %>',
        displayName: '<%= visualDisplayName %>',
        class: '<%= visualClass %>',
        version: '<%= visualVersion %>',
        apiVersion: '<%= apiVersion %>',
        create: (options: extensibility.visual.VisualConstructorOptions) => new powerbi.extensibility.visual.<%= visualGuid %>.<%= visualClass %>(options),
        custom: true
    };
}
